<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1><%= title %></h1>
    <p>Blog posts my dudes</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <p>Here are our posts!</p>
      <% for(var slug in public.posts._data){ %>
        <h2><a href="/posts/<%= slug %>">
            <%= public.posts._data[slug].title %></a>
        </h2>
        <%- partial("posts/" + slug) %>
      <% }; %>
    </div>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <%- partial("_shared/blurb") %>
    </div>
    <div class="col-lg-4">
      <%- partial("_shared/blurb") %>  
   </div>
    <div class="col-lg-4">
      <%- partial("_shared/blurb") %>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div>